<%
var bigNum = function(n) {
  if (n > 1000000) {
    return (data.metro_population / 1000000).toFixed(1) + "M";
  } else {
    return commafy(n);
  }
};

var commafy = function(n) {
  return (n * 1).toLocaleString().replace(/\.0+/, "");
};

var label = function(s) {
  return window.cityLabels[s] ? window.cityLabels[s].label : s;
};

var $ = data.canada ? "CA$" : "$";

%><h2>
  <% if (data.standin_city) { %>
  <%= data.state %>
  <% } else { %>
  <%= data.city.trim() %>, <%= data.state %>
  <% } %>
  </h2>
<ul>
  <% if (data.metro_population) { %>
  <li> 
    <label><%= label("metro_population") %></label>
    <span class="value"><%= bigNum(data.metro_population) %></span>
  <% } %>

  <% if (data.unemployment_rate) { %>
  <li>
    <label><%= label("unemployment_rate") %></label>
    <span class="value"><%= data.unemployment_rate %>%</span>
  <% } %>

  <% if (window.innerWidth > 360 && data.tech_sector) { %>
  <li> 
    <label><%= label("tech_sector") %></label>
    <span class="value"><%= commafy(data.tech_sector) %></span>
  <% } %>

  <% if (data.rent_pricing) { %>
  <li> 
    <label><%= label("rent_pricing") %></label>
    <span class="value"><%= $ %><%= commafy(data.rent_pricing) %></span>
  <% } %>

  <% if (data.home_pricing) { %>
  <li> 
    <label><%= label("home_pricing") %></label>
    <span class="value"><%= $ %><%= commafy(data.home_pricing) %></span>
  <% } %>

  <% if (data.tax_breaks && data.subsidized_company) { %>
  <li class="stacked">
    <label><%= label("tax_breaks") %></label>
    <span class="value">
      $<%= commafy(data.tax_breaks) %>
      <span>(<%= data.subsidized_company %>)</span>
    </span>
  <% } %>
</ul>

<div class="notes">
  <%= data.notes || "" %>
</div>

<% if (data.link) { %>
<div class="source">
  <a href="<%= data.link %>" target="_blank">Proposal source</a>
</div>
<% } %>