@import "seattletimes";

main.interactive {
  max-width: 960px;
  padding: 16px 0;

  h1, p, .notes, .credit {
    padding-left: 16px;
    padding-right: 16px;
  }
}

h1 {
  font-size: 20px;
  margin-top: 0;
}

.updated {
  font-size: 14px;
  font-style: italic;
}

.key {
  @size: 15px;
  font-size: @size;
  text-align: center;
  padding: 16px 0;
  font-style: italic;

  .dot {
    display: inline-block;
    width: @size;
    height: @size;
    border-radius: 100%;

    &.announced { background: @st-dark-orange }
    &.submitted { background: @st-dark-green }
    &.dropped { background: @st-dark-purple }

    &:not(:first-child) {
      margin-left: 16px;
    }
  }
}

leaflet-map:not([ready]) {
  opacity: 0;
}

.filters {
  text-align: center;

  input[type="radio"] {
    display: none;
  }

  input + label {
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
    color: @df-middle-gray;
  }

  input:checked + label {
    font-weight: bold;
    color: @df-blue;
  }
}

.aspect-container {
  position: relative;

  &::before {
    padding-bottom: percentage(3 / 4);
    display: block;
    content: "";

    @media @mobile {
      padding-bottom: percentage(4 / 3);
    }
  }

  .aspect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.city-marker {
  background: @st-dark-orange;
  border-radius: 100%;
  border: 1px solid @df-off-black;
  opacity: .8;

  &.submitted {
    background: @st-dark-green;
  }

  &.dropped {
    background: @st-dark-purple;
  }
}

.credit {
  font-size: 15px;
  text-align: right;
  text-transform: uppercase;
  font-style: italic;
}

.leaflet-popup-content {
  h2 {
    font-size: 19px;
    margin: 0 0 8px;

    @media @mobile {
      font-size: 16px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 15px;
  }

  li {
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid @df-light-gray;
    .display-flex();

    &.stacked {
      display: block;

      label, span {
        display: block;
      }
    }
  }

  label {
    display: block;
    font-weight: normal;
    .flex(0 1 80%);
  }

  .value {
    text-align: right;
    .flex(1 1 20%);
    font-weight: bold;
  }

  .notes {
    font-style: italic;
    font-size: 14px;
  }

  .source {
    text-align: right;
  }
}

.notes {
  font-size: 16px;
  margin: 8px 0;
}

@media @mobile {
  .leaflet-control-zoom {
    display: none;
  }
}